.jumbotron-background{
    color: white;
    background-color: #010038;
    height: 120vh;
    width: 100%;
    display: flex;
}

.jumbotron-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 8rem;
    text-align: justify;

    
    p{
        margin-top: 1rem;
    }

    h4{
        margin-top: 1rem;
    }
}