.login-navbar{
    background-color: #010020;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.login-input{
    width: 60%;
    align-items: center;
}

.login-options{
    width: 20%;
    display: flex;
    align-items: flex-end;
    align-content: center;
    color: white;
}

.login-items{
    margin: 0 0.5rem;
    text-align: center;
}

.login-home:hover{
    background: transparent;
}

.login-list-items{
    
}