.main-navbar {
    background-color: #010020;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.logo-navbar {
    display: flex;
    color: white;
    text-decoration: none;
}

.buttons-navbar{
    display: flex;
}
