.main-layout {
  .container {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 2rem;
    grid-template-areas: "left right";
    
    .left {
      grid-area: left;
    }
    .right {
      padding-top: 1rem;
      grid-area: right;
    }
    
  }
}